<script type="text/javascript">
// Using jQuery
$(function(){                                               
    setTimeout(function(){
        $("#password").attr("type","password");
    },500);
});


// or in pure javascript
 window.onload=function(){                                              
    setTimeout(function(){  
        document.getElementById('password').type = 'password';
    },500);
  }   
</script>
<div class="row" style="margin-top: 10px">
	<div class="col-sm-12">
		<form id="UserForm" name="UserForm" class="form-horizontal"
			role="form" autocomplete="off" novalidate>
			<div class="panel panel-green">
				<div class="panel-heading" ng-switch
					on="$location.path().indexOf('/User/new') > -1">
					<div ng-switch-when="true">Create a new User</div>
					<div ng-switch-when="false">View or edit User</div>
				</div>
				<div class="panel-body">
					<div class="col-sm-3">
						<div class="form-group" ng-class="{'has-error': UserForm.username.$invalid}">
							<label for="username" class="control-label">User Name / Pin</label>
							<div id="usernameControls" class="col-sm-12 clearPaddingLeft">
								<input 	id="username" 
										ng-disabled="usernameAndPasswordFieldEnable"
										name="username"
										ng-pattern="{{validation.userName}}"
										required 
										type="text" 
										ng-maxlength="50" 
										ng-minlength="1" 
										class="form-control"
										ng-model="user.username" 
										placeholder="Enter the username"></input>
								 <span	class="help-block error" ng-show="UserForm.username.$error.minlength">
								 	minimum length is 1
								</span>
								 <span	class="help-block error" ng-show="UserForm.username.$error.pattern">
								  Only alpha numeric characters and _ are allowed. 
								</span>
								<span class="help-block error" ng-show="UserForm.username.$error.maxlength">
									maximum length is 50
								</span>
							</div>
						</div>

						<div class="form-group" ng-class="{'has-error': UserForm.password.$invalid}">
							<label for="password" class="control-label">Password</label>
							<div id="passwordControls" class="col-sm-12 clearPaddingLeft">
								<input 	id="password" 
										name="password" 
										type="text" 
										ng-disabled="usernameAndPasswordFieldEnable"
										required
										ng-maxlength="20" 
										ng-minlength="6" 
										class="form-control"
										ng-model="user.password" 
										placeholder="Enter the password"></input>
								<span	class="help-block error"
										ng-show="UserForm.password.$error.minlength">minimum
										length is 6
								</span> 
								<span	class="help-block error"
										ng-show="UserForm.password.$error.maxlength">maximum
										length is 20
								</span>
							</div>
						</div>

						<div class="form-group" ng-class="{'has-error': UserForm.email.$invalid}">
							<label for="email" class="control-label">Email</label>
							<div id="emailControls" class="col-sm-12 clearPaddingLeft">
								<input 	id="email" 
										name="email"
										type="email" 
										ng-maxlength="50"
										ng-minlength="0" 
										class="form-control" 
										ng-model="user.email"
										placeholder="Enter the email"></input>
										
								<span	class="help-block error"
										ng-show="UserForm.email.$error.minlength">minimum
										length is 0
								</span> 
								<span	class="help-block error"
										ng-show="UserForm.email.$error.maxlength">maximum
										length is 50
								</span>
							</div>
						</div>

						<div class="form-group"
							ng-class="{'has-error': UserForm.mobileNumber.$invalid}">
							<label for="mobileNumber" class="control-label">Mobile
								Number</label>
							<div id="mobileNumberControls" class="col-sm-12 clearPaddingLeft">
								<input id="mobileNumber" 
									name="mobileNumber" type="text"
									ng-maxlength="20" 
									ng-minlength="0"
											 
									ng-pattern="{{validation.phoneNumber}}"  
									class="form-control"
									ng-model="user.mobileNumber"
									placeholder="Enter the Mobile Number"></input>
									
							<span
								class="help-block error"
								ng-show="UserForm.mobileNumber.$error.minlength">
								minimum length is 0 </span> 
							<span class="help-block error" ng-show="UserForm.mobileNumber.$error.pattern">
									Only number[0-9] , and - space are allowed.
								</span> 
								<span class="help-block error"
								ng-show="UserForm.mobileNumber.$error.maxlength">
								maximum length is 20 </span>
							</div>
						</div>

						<div class="form-group" ng-class="{'has-error': UserForm.gender.$invalid}">
							<label for="gender" class="control-label">Gender</label>
							<div id="genderControls" class="col-sm-12 clearPaddingLeft">
								<select name="gender" 
										ng-model="user.gender" 
										class="form-control">
									<option value="">--Select Gender--</option>
									<option value="M">Male</option>
									<option value="F">Female</option>
									<option value="O">Other</option>
								</select>
							</div>
						</div>
					</div>
					<div class="col-sm-3">
						<div class="form-group"
							ng-class="{'has-error': UserForm.firstName.$invalid}">
							<label for="firstName" class="control-label">First Name</label>
							<div id="firstNameControls" class="col-sm-12 clearPaddingLeft">
								<input id="firstName" name="firstName" type="text"
									ng-maxlength="50" ng-minlength="1" class="form-control"
									ng-model="user.firstName" placeholder="Enter the First Name"></input>
									
							<span
								class="help-block error"
								ng-show="UserForm.firstName.$error.minlength">
								minimum length is 1 </span> <span class="help-block error"
								ng-show="UserForm.firstName.$error.maxlength">
								maximum length is 50 </span>
							</div>
							
						</div>

						<div class="form-group"
							ng-class="{'has-error': UserForm.middleName.$invalid}">
							<label for="middleName" class="control-label">Middle Name</label>
							<div id="middleNameControls" class="col-sm-12 clearPaddingLeft">
								<input id="middleName" name="middleName" type="text"
									ng-maxlength="50" ng-minlength="0" class="form-control"
									ng-model="user.middleName" placeholder="Enter the Middle Name"></input>
									
							<span
								class="help-block error"
								ng-show="UserForm.middleName.$error.minlength">
								minimum length is 0 </span> <span class="help-block error"
								ng-show="UserForm.middleName.$error.maxlength">
								maximum length is 50 </span>
							</div>
						</div>

						<div class="form-group"
							ng-class="{'has-error': UserForm.lastName.$invalid}">
							<label for="lastName" class="control-label">Last Name</label>
							<div id="lastNameControls" class="col-sm-12 clearPaddingLeft">
								<input id="lastName" name="lastName" type="text"
									ng-maxlength="50" ng-minlength="0" class="form-control"
									ng-model="user.lastName" placeholder="Enter the Last Name"></input>
									
							<span
								class="help-block error"
								ng-show="UserForm.lastName.$error.minlength">
								minimum length is 0 </span> <span class="help-block error"
								ng-show="UserForm.lastName.$error.maxlength">
								maximum length is 50 </span>
							</div>
						</div>

						<div class="form-group" ng-class="{'has-error': UserForm.dateOfBirth.$invalid}">
							<label for="dateOfBirth" class="control-label">Date of birth</label>
							<div id="dateOfBirthControls" class="col-sm-12 clearPaddingLeft">
								<input 	id="dateOfBirth" 
										name="dateOfBirth" 
										readonly="readonly"
										type="text"
										class="form-control datePicker" 
										ng-model="user.dateOfBirth"
										placeholder="Enter the Date of Birth"></input>
							</div>
						</div>

						<div class="form-group" ng-class="{'has-error': UserForm.userCategoryUdvId.$invalid}">
							<label for="userCategoryUdvId" class="control-label">User Category</label>
							<div id="userCategoryUdvIdControls" class="col-sm-12 clearPaddingLeft">
								<select name="userCategoryUdvId"
										required
										ng-model="user.userCategoryUdvId" 
										class="form-control">
									<option value="">--Select User Category--</option>
									<option ng-selected="user.userCategoryUdvId == udv.id"
											ng-repeat="udv in udvList | filter:udv.category='User Category'"
											value="{{udv.id}}">{{udv.value}}
									</option>
								</select>
							</div>
						</div>
						
						<div class="form-group" ng-class="{'has-error': UserForm.staffGrageUdvId.$invalid}">
							<label for="staffGrageUdvId" class="control-label">Staff Grade</label>
							<div id="staffGrageUdvIdControls" class="col-sm-12 clearPaddingLeft">
								<select 
									name="staffGrageUdvId"
									ng-model="user.staffGrageUdvId" 
									class="form-control">
									<option value="">--Select Staff Grade--</option>
									<option ng-selected="user.staffGrageUdvId == udv.id"
											ng-repeat="udv in udvList | filter:udv.category='Staff grade'"
											value="{{udv.id}}">{{udv.value}}
									</option>
								</select>
							</div>
						</div>
						
						
						
					</div>
					
					
					<div class="col-sm-3">
						<div class="form-group"
							ng-class="{'has-error': UserForm.designationUdvId.$invalid}">
							<label for="designationUdvId" class="control-label">Designation</label>
							<div id="designationUdvIdControls" class="col-sm-12 clearPaddingLeft">
								<select name="designationUdvId" ng-model="user.designationUdvId"
									class="form-control">
									<option value="">--Select User Designation--</option>
									<option ng-selected="user.designationUdvId == udv.id"
										ng-repeat="udv in udvList | filter:udv.category='Designation'"
										value="{{udv.id}}">{{udv.value}}</option>
								</select>
							</div>
						</div>

						<div class="form-group"
							ng-class="{'has-error': UserForm.roleId.$invalid}">
							<label for="roleId" class="control-label">User Role</label>
							<div id="roleIdControls" class="col-sm-12 clearPaddingLeft">
								<select name="roleId" ng-model="user.roleId"
									class="form-control">
									<option value="">--Select User Role--</option>
									<option ng-selected="user.roleId == role.id"
										ng-repeat="role in roleList" value="{{role.id}}">
										{{role.name}}</option>
								</select>
							</div>
						</div>
						
						<div class="form-group"	ng-class="{'has-error': UserForm.organizationId.$invalid}">
							<label for="organizationId" class="control-label">Organization</label>
							<div id="organizationIdControls" class="col-sm-12 clearPaddingLeft">
								<select name="organizationId" ng-model="user.organizationId"
									class="form-control">
									<option value="">--Select Organization--</option>
									<option ng-selected="user.organizationId == organization.id"
										ng-repeat="organization in organizationList" value="{{organization.id}}">
										{{organization.name}}</option>
								</select>
							</div>
						</div>
						
						<div class="form-group" ng-class="{'has-error': UserForm.instituteId.$invalid}">
                            <label for="instituteId" class="control-label">Institute</label>
                            <div id="instituteIdControls" class="col-sm-12 clearPaddingLeft">
                                <select name="instituteType" ng-model="user.instituteId" class="form-control">
                                    <option value="">--Select Institute--</option>
                                    <option ng-selected="user.instituteId == insList.id" 
                                    		ng-repeat="insList in instituteList" 
                                    		value="{{insList.id}}"> {{insList.name}} 
                                    </option>
                                </select>
                            </div>
                    	</div>
                    	
                    	<div class="form-group"
                             ng-class="{'has-error': UserForm.dropOut.$invalid}">
                            <label for="dropOut" class="control-label">Drop out</label>
                            <div id="dropOutControls" class="col-sm-12 clearPaddingLeft">
                                <input id="dropOut"
                                       type="radio"
                                       value=true
                                       ng-model="user.dropOut">Yes
                                
                                <input id="dropOut"
                                       type="radio"
                                       value=false
                                       ng-model="user.dropOut">No
                                
                            </div>
                        </div>
                        
                        <div class="form-group" ng-class="{'has-error': UserForm.dropOutReason.$invalid}">
							<label for="dropOutReason" class="control-label">Drop Out Reason</label>
							<div id="dropOutReasonControls" class="col-sm-12 clearPaddingLeft">
								<textarea 	
										id="dropOutReason" 
										name="dropOutReason"
										ng-maxlength="500" 
										ng-minlength="0" 
										class="form-control"
										ng-model="user.dropOutReason" 
										placeholder="Enter the dropOutReason"></textarea>
								 <span	class="help-block error"
										ng-show="UserForm.dropOutReason.$error.minlength">minimum
										length is 0
								</span>
								<span 	class="help-block error"
										ng-show="UserForm.dropOutReason.$error.maxlength">maximum
										length is 500
								</span>
							</div>
						</div>
						
					</div>
					<div class="col-sm-3">
						<div class="form-group" ng-class="{'has-error': UserForm.locationTypeUdvId.$invalid}">
							<label for="locationTypeUdvId" class="control-label">Location
								Type</label>
							<div id="locationTypeUdvIdControls" class="col-sm-12 clearPaddingLeft">
								<select name="locationTypeUdvId"
									ng-model="user.locationTypeUdvId" class="form-control">
									<option value="">--Select Location type--</option>
									<option ng-selected="user.locationTypeUdvId == udv.id"
										ng-repeat="udv in udvList | filter:udv.category='Location type'"
										value="{{udv.id}}">{{udv.value}}</option>
								</select>
							</div>
						</div>
					
	      				<div ng-controller = "BracLocationController">
	         				<braclocation required="true" name="brac"></braclocation>
	      				</div>
	      				
					</div>

				</div>

				<!--  -->
				<div class="panel-footer">
					<div class="form-group">
						<div class="col-sm-10">
							<button id="saveUser" 
									name="saveUser" 
									class="btn btn-primary"
									ng-disabled="isClean() || UserForm.$invalid"
								ng-click="save()">
								<span class="glyphicon glyphicon-ok-sign"></span> Save
							</button>
							<button id="cancel" name="cancel" class="btn btn-default"
								onclick="return false;" ng-click="cancel()">
								<span class="glyphicon glyphicon-remove-sign"></span> Cancel
							</button>
							<button id="deleteUser" name="deleteUser" class="btn btn-danger"
								ng-show="user.id" ng-click="remove(user.username + ' User')">
								<span class="glyphicon glyphicon-trash"></span> Delete
							</button>
						</div>
					</div>
					<div ng-show="displayError" class="alert alert-danger">
						<strong>Error!</strong> Something broke. Retry, or cancel and
						start afresh.
					</div>
				</div>
			</div>
		</form>
	</div>
</div>
<script type="text/javascript">
//======================================================================
// Prevent enterkey press action
$("#UserForm" ).keypress(function(event) {
	if (event.which == 13 ) {
			/* $("#dropOutReason")
			{
				return true;	
			} */
	
			$("#dropOutReason").keyup(function(event){
			    if(event.which == 13){
			    	//console.log( "Dropdown for .keypress() called." );
			        return true;
			    }
			});
			 //console.log( "Handler for .keypress() called." );
		     event.preventDefault();
			 
	  }
	  //console.log( "Handler for .keypress() called." );
});
//=======================================================================

    $('.datePicker').datepicker({
        autoclose: true,
        format: "yyyy-mm-dd",
        todayHighlight: true,
        orientation: "top auto"
    });

    $('.yearPicker').datepicker({
        autoclose: true,
        format: "yyyy",
        todayHighlight: true,
        orientation: "top auto",
        minViewMode: 2
    });
</script>
<script src="scripts/controllers/bracLocation/bracLocationController.js"></script>