<div class="row" style="margin-top: 10px">
	<div class="col-lg-12">
		<form id="DonorForm" name="DonorForm" class="form-horizontal" role="form">
			<div class="panel panel-green">
				<div class="panel-heading" ng-switch on="$location.path().indexOf('/Donor/new') > -1">
					 
					<div ng-switch-when="true">Create a new Donor</div>
					<div ng-switch-when="false">View or edit Donor</div>
				</div>
				<div class="panel-body">
					<div class="col-xs-6 col-sm-3">	
													
						<div class="form-group" ng-class="{'has-error': DonorForm.name.$invalid}">
							<label for="name" class="control-label">Name</label> 
								<div id="nameControls" class="col-sm-12 clearPaddingLeft">
									<input 	id="name" 
											name="name"
											required
											ng-maxlength="50" 
											ng-minlength="1"
											class="form-control" 
											type="text"
											ng-model="donor.name" 
											placeholder="Enter the Name">
									</input>
									<span
										class="help-block error"
										ng-show="DonorForm.name.$error.minlength">minimum character
										length is 1 
									</span> 
									<span 
										class="help-block error"
										ng-show="DonorForm.name.$error.maxlength">maximum character
										length is 50 
									</span>
								</div>
						</div>
																		
						<div class="form-group" ng-class="{'has-error': DonorForm.code.$invalid}">
							<label for="code" class="control-label">Code</label> 
								<div id="codeControls" class="col-sm-12 clearPaddingLeft">
									<input 	id="code" 
											name="code"
											ng-maxlength="20" 
											ng-minlength="0" 
											class="form-control" 
											type="text"
											ng-model="donor.code"
											placeholder="Enter the Code">
									</input>
								</div>
								<span class="help-block error" ng-show="DonorForm.code.$error.minlength">
									minimum character length is 0
								</span> 
								<span class="help-block error" ng-show="DonorForm.code.$error.maxlength">
									maximum character length is 20
								</span>	
						</div>
					
						<div class="form-group" ng-class="{'has-error': DonorForm.donorTypeUdvId.$invalid}">
							<label for="donorTypeUdvId" class="control-label">Donor Type</label>
							<div id="donorTypeUdvIdControls" class="col-sm-12 clearPaddingLeft">
								<select name="donorTypeUdvId" ng-model="donor.donorTypeUdvId" required class="form-control">
									<option value="">
										--Select Donor Type--
									</option>
									<option ng-repeat="udv in udvList" value="{{udv.id}}"> 
										{{udv.value}} 
									</option>
								</select> 
							</div>
						</div>
					
						
								
						<!-- <div class="form-group" ng-class="{'has-error': DonorForm.contactNumbers.$invalid}">
							<label for="contactNumbers" class="control-label">Contact Numbers</label> 
							<div id="contactNumbersControls" class="col-sm-12 clearPaddingLeft">
								<textarea 	
										id="contactNumbers" 
										name="contactNumbers" 
										class="form-control" 
										ng-maxlength="500" 
										ng-minlength="0"
										
										ng-pattern="{{validation.phoneNumber}}"
										type="text"
										ng-model="donor.contactNumbers" 
										placeholder="Enter the contact Numbers">
								</textarea>
								<span class="help-block error" ng-show="DonorForm.contactNumbers.$error.minlength">
									minimum character length is 0
								</span> 
								
								<span class="help-block error" ng-show="DonorForm.contactNumbers.$error.pattern">
									Only number[0-9] , and - space are allowed.
								</span> 
								
								<span class="help-block error" ng-show="DonorForm.contactNumbers.$error.maxlength">
									maximum character length is 500 
								</span>
							</div>
						</div> -->
						<div class="form-group" ng-class="{'has-error': DonorForm.contactNumbers.$invalid}">
							<label for="contactNumbers" class="control-label">Contact Numbers</label>
							<div id="contactNumbersControls" class="col-sm-12 clearPaddingLeft">
								<textarea 	id="contactNumbers" 
											name="contactNumbers" 
											type="text"
											ng-maxlength="500" 
											ng-minlength="0"
								
											ng-pattern="{{validation.phoneNumber}}"
											class="form-control"
											ng-model="donor.contactNumbers"
											placeholder="Enter the Contact Numbers"></textarea>
									
								<span class="help-block error" ng-show="DonorForm.contactNumbers.$error.minlength">
									minimum 0 character!
								</span> 
								<span class="help-block error" ng-show="DonorForm.contactNumbers.$error.pattern">
									Only number[0-9] , and - space are allowed.
								</span> 
								<span class="help-block error" ng-show="DonorForm.contactNumbers.$error.maxlength">
									maximum 500 characters can contains!
								</span>
							</div>
						</div>
						
					
					</div>
					
					<div class="col-sm-4">
					
						<div class="form-group" ng-class="{'has-error': DonorForm.localEmail.$invalid}">
							<label for="localEmail" class="control-label">Local Email</label> 
							<div id="localEmailControls" class="col-sm-12 clearPaddingLeft">
							<input 	id="localEmail" 
									ng-maxlength="100" 
									ng-minlength="0"
									name="localEmail" 
									class="form-control" 
									type="email"
									ng-model="donor.localEmail" 
									placeholder="Enter the Local Email"></input>
							<span
								class="help-block error"
								ng-show="DonorForm.localEmail.$error.minlength">minimum character
								length is 0 
							</span> 
							<span 
								class="help-block error"
								ng-show="DonorForm.localEmail.$error.maxlength">maximum character
								length is 100 
							</span>
							</div>
						</div>
						
						<div class="form-group" ng-class="{'has-error': DonorForm.hoEmail.$invalid}">
							<label for="hoEmail" class="control-label">Head Office Email</label>
							<div id="hoEmailControls" class="col-sm-12 clearPaddingLeft">
							<input 	id="hoEmail" 
									name="hoEmail"
									required
									ng-maxlength="100" 
									ng-minlength="1"
									class="form-control" 
									type="email"
									ng-model="donor.hoEmail" 
									placeholder="Enter the Head Office Email"></input>
							<span
								class="help-block error"
								ng-show="DonorForm.hoEmail.$error.minlength">minimum character
								length is 1 
							</span> 
							<span 
								class="help-block error"
								ng-show="DonorForm.hoEmail.$error.maxlength">maximum character
								length is 100 
							</span>
							</div>
						</div>
						
						<div class="form-group" ng-class="{'has-error': DonorForm.contactPerson.$invalid}">
							<label for="contactPerson" class="control-label">Contact Person</label>
							<div id="contactPersonControls" class="col-sm-12 clearPaddingLeft">
							<input 	id="contactPerson" 
									name="contactPerson"
									required
									ng-maxlength="150" 
									ng-minlength="1"
									class="form-control" 
									type="text"
									ng-model="donor.contactPerson" 
									placeholder="Enter the Contact Person">
							</input>
							<span
								class="help-block error"
								ng-show="DonorForm.contactPerson.$error.minlength">minimum character
								length is 1 
							</span> 
							<span 
								class="help-block error"
								ng-show="DonorForm.contactPerson.$error.maxlength">maximum character
								length is 150 
							</span>
							</div>
						</div>
						
						<div class="form-group" ng-class="{'has-error': DonorForm.localOffice.$invalid}">
							<label for="localOffice" class="control-label">Local Office</label>
							<div id="localOfficeControls" class=""> 
							<textarea 	
									id="localOffice" 
									name="localOffice" 
									class="form-control"
									ng-maxlength="500" 
									ng-minlength="0" 
									type="text"
									ng-model="donor.localOffice" 
									placeholder="Enter the Local Office">
							</textarea>
							<span
								class="help-block error"
								ng-show="DonorForm.localOffice.$error.minlength">minimum character
								length is 0 
							</span> 
							<span 
								class="help-block error"
								ng-show="DonorForm.localOffice.$error.maxlength">maximum character
								length is 500 
							</span>
							</div>
						</div>
						
					</div>
					
					<div class="col-sm-4">	
						<div class="form-group" ng-class="{'has-error': DonorForm.hoOffice.$invalid}">
							<label for="hoOffice" class="control-label">Head Office Address</label>
							<div id="hoOfficeControls" class="col-sm-12 clearPaddingLeft">
							<textarea 	
									id="hoOffice" 
									name="hoOffice"
									required
									ng-maxlength="500" 
									ng-minlength="1"
									class="form-control" 
									type="text"
									ng-model="donor.hoOffice" 
									placeholder="Enter the Head Office Address">
							</textarea>
							
							<span
								class="help-block error"
								ng-show="DonorForm.hoOffice.$error.minlength">minimum character
								length is 1 
							</span> 
							<span 
								class="help-block error"
								ng-show="DonorForm.hoOffice.$error.maxlength">maximum character
								length is 500 
							</span>
							</div>
						</div>
					
						<div class="form-group" ng-class="{'has-error': DonorForm.description.$invalid}">
							<label for="description" class="control-label">Description</label>
							<div id="descriptionControls" class="col-sm-12 clearPaddingLeft">
							<textarea 	
									id="description" 
									name="description"
									ng-maxlength="500" 
									ng-minlength="0"
									class="form-control" 
									type="text"
									ng-model="donor.description" 
									placeholder="Enter the Description">
							</textarea>
							<span
								class="help-block error"
								ng-show="DonorForm.description.$error.minlength">minimum character
								length is 0 
							</span> 
							<span 
								class="help-block error"
								ng-show="DonorForm.description.$error.maxlength">maximum character
								length is 500 
							</span>
							</div>
						</div>
					
					</div>
<!-- ==================================================================================================== -->	
					
				</div>

				<div class="panel-footer">
					<div class="form-group">
						<div class="col-sm-10">
							<button 
								id="saveDonor" 
								name="saveDonor"
								class="btn btn-primary"
								ng-disabled="isClean() || DonorForm.$invalid"
								ng-click="save()">
									<span 
										class="glyphicon glyphicon-ok-sign">
									</span> 
									Save
							</button>
							
							<button 
								id="cancel" 
								name="cancel" 
								class="btn btn-default"
								onclick="return false;" 
								ng-click="cancel()">
								
									<span class="glyphicon glyphicon-remove-sign">
									</span> 
									Cancel
							</button>
							
							<button 
								id="deleteDonor" 
								name="deleteDonor"
								class="btn btn-danger" 
								ng-show="donor.id"
								ng-click="remove(donor.name)">
									<span class="glyphicon glyphicon-trash">
									</span> 
									Delete
							</button>
						</div>
					</div>
					
					<div ng-show="displayError" class="alert alert-danger">
						<strong>Error!</strong> Something broke. Retry, or cancel and start afresh.
					</div>
				</div>

			</div>
		</form>
	</div>
</div>
<script type="text/javascript">
//======================================================================
//Prevent enterkey press action
$("#DonorForm" ).keypress(function(event) {
	if (event.which == 13 ) {
		     event.preventDefault(); 
	  }
});
//=======================================================================
</script>
